{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Envoi d'un mail de réinitalisation du mot de passe</h1>
		<p>
			S'il existe un compte correspondant à votre e-mail, un e-mail vient d'être envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe.
															         Ce lien expirera dans
			{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
		</p>
		<p>Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier spam ou<a href="{{ path('app_forgot_password_request') }}">
				réessayez</a>
			.</p>
	</div>
{% endblock %}
