div.card {
  background-color: white !important;
  border-radius: 10px;
  border: solid 3px #97c229 !important;
}
div {
  display: block;
}
img {
  padding-left: 50px;
  width: 50%;
  height: 250px;
  border-radius: 10px;
}
.card {
  width: 50%;
}
div.container {
  background-color: white !important;
}
