body {
  min-height: 100vh;
  background: url("/../images/salle_de_jeux.jpg") no-repeat center/cover;
}
div.container {
  background-color: white;
  border: solid 3px #97c229;
  margin: 50px;
  max-width: 500px;
  border-radius: 10px;
  padding: 30px;
}
